In [1]:
import pandas as pd

In [15]:
dataset = pd.read_csv('hasil/hasil_scaping_Redmi 9T_page-0.csv')

dataset.head(20)

,merk,price,location,buy
0,XIAOMI REDMI 10C 4/64GB [ BUNDLING KARTU SMART...,Rp1.899.000,KOTA BANJARMASIN,58 Terjual
1,Xiaomi Redmi 9a RAM 4GB/128GB 5MP depan 13MP k...,Rp1.280.000 - Rp1.400.000,KOTA BEKASI,224 Terjual
2,handphone vivo Y20s G ram6 128GB 6.5-inch hp s...,Rp1.850.000 - Rp2.350.000,KOTA JAKARTA UTARA,501 Terjual
3,[ONLINE EXCLUSIVE] vivo T1 5G (8/128) - Dimens...,Rp3.199.000,KAB. TANGERANG,"7,9RB Terjual"
4,GALAXY A52S 12GB/512GB Handphone Smartphone 4G...,Rp1.125.000 - Rp1.220.000,KOTA TANGERANG,412 Terjual
5,Xiaomi Redmi 9T 4/64GB FULLSET SEGEL MULUS,Rp1.549.000,KOTA SURABAYA,NaN
6,REDMI 9T RAM 4 INTERNAL 64,Rp1.750.000,KAB. LAMONGAN,NaN
7,Redmi 9T 6/128,Rp2.300.000,KAB. KLATEN,NaN
8,redmi 9t 4/64 second,Rp1.580.000,KAB. KUDUS,NaN
9,REDMI 9T 4/64 FULLSET GARANSI RESMI,Rp1.700.000,KOTA JAKARTA SELATAN,NaN
10,REDMI 9T 4/64 GB & 6/128 GB BEKAS ORIGINAL FU...,Rp1.744.200 - Rp1.998.000,KAB. BOGOR,54 Terjual
11,XIAOMI REDMI 9T (NFC) RAM [6/128GB][6/128GB] Q...,Rp1.499.000 - Rp2.249.000,KOTA BOGOR,6 Terjual
12,REDMI 9T 4/64,Rp1.750.000,KOTA JAKARTA PUSAT,NaN
13,Xiaomi Redmi 9T,Rp2.099.000,KAB. MAJALENGKA,NaN
14,XIAOMI REDMI 9T 4/64 & 6/128 FULSET GARANSI RESMI,Rp1.799.000 - Rp2.250.000,KAB. PACITAN,157 Terjual
15,hp redmi note 9t ram 6/128 istimewa bekas/seco...,Rp2.000.000,KAB. WONOSOBO,NaN
16,XIAOMI REDMI 9T 6/128GB Qualcomm SM6115 Snapdr...,Rp1.930.000 - Rp2.330.000,KOTA JAKARTA BARAT,NaN
17,XIAOMI REDMI 9T NOT APPLE SAMSUNG REALME,Rp1.800.000,KAB. MADIUN,NaN
18,XIAOMI REDMI 9T RAM [6/128GB][6/128GB] SNAPDRA...,Rp1.499.000 - Rp1.899.000,KOTA BOGOR,61 Terjual
19,redmi 9t super like new 2 minggu pakai,Rp1.699.999,KAB. MALANG,NaN

In [16]:
dataset.isnull().sum()

merk         0
price        0
location     0
buy         22
dtype: int64

In [18]:
data_price = dataset['price']

data_price.head()

0                  Rp1.899.000
1    Rp1.280.000 - Rp1.400.000
2    Rp1.850.000 - Rp2.350.000
3                  Rp3.199.000
4    Rp1.125.000 - Rp1.220.000
Name: price, dtype: object

In [19]:
data_price.max()

'Rp3.199.000'

In [14]:
data_price.min()

'Rp1.250'